<!-- @if(element()) { -->
<div class="properties-panel">
    <bpm-panel-header [element]="element()"></bpm-panel-header>
    @if(element()){
    <div class="properties-panel-tabs">
        <nz-tabs>
            @for (tab of tabs(); track $index) {
            <nz-tab [nzTitle]="tab.name!">
                <nz-collapse>
                    @for (group of tab.groups; track $index) {
                    <nz-collapse-panel [nzHeader]="group.name" [nzActive]="group.important ? true : false" nzShowArrow="true">
                        <div style="width: 100%;">
                            <property-group
                                [element]="element()"
                                [bpmnModeler]="bpmnModeler()"
                                [properties]="group.properties"></property-group>
                        </div>
                    </nz-collapse-panel>

                    }

                </nz-collapse>
            </nz-tab>
            }

        </nz-tabs>
    </div>

    }
</div>
<!-- }  -->