<div class="custom-row">
  <input class="name-in" nz-input placeholder="变量名（写入流程上下文）" [ngModel]="row().name" (ngModelChange)="onNameChange($event)" />
  <div class="val-in">
    <app-juel-expression-editor [placeholder]="juelInlinePlaceholder" [value]="row().valueText" [variables]="expressionVariableSuggestions()" (valueChange)="onValueChange($event)" />
  </div>
  @if (varNames().length) {
    <nz-select class="var-ref" nzAllowClear nzPlaceHolder="引用变量" [ngModel]="refSelection()" (ngModelChange)="onRefSelect($event)">
      @for (n of varNames(); track n) {
        <nz-option [nzLabel]="n" [nzValue]="n"></nz-option>
      }
    </nz-select>
  }
  <button type="button" nz-button nzDanger nzSize="small" nzType="text" (click)="requestRemove()">
    <nz-icon nzTheme="outline" nzType="delete" />
  </button>
</div>
