@import '../../node_modules/ng-zorro-antd/ng-zorro-antd.variable.less';
@import './themes/default';
@import '../../node_modules/bpmn-font/dist/css/bpmn.css';

.search-form-field {
    padding-left: 12px;
    padding-right: 12px
}


.app-formly-panel-row {
    .padding-right-24 {
        padding-right: 24px;
    }
}

// .ant-table-expanded-row-fixed {
//     width: 100% !important;
// }

.bjs-powered-by {
    display: none !important;
}

.djs-palette {
    display: none !important;
}


.bpm-pallete .ant-tabs-nav {
    margin-bottom: 0 !important;
    margin: 0 !important;
}


.properties-panel .ant-tabs-nav {
    margin-bottom: 0 !important;
    margin: 0 !important;
}


formly-field.hidden {
    display: none !important;
}