<div class="bpm-toolbar" aria-label="BPMN 编辑工具栏" role="toolbar">
  <input #bpmnFileInput class="bpm-toolbar__file-input" type="file" accept=".bpmn,.xml,application/xml,text/xml" aria-hidden="true" tabindex="-1" (change)="onBpmnFileSelected($event)" />
  @for (seg of toolbarSegments; track $index) {
    @if (seg.type === 'divider') {
      <nz-divider class="bpm-toolbar__divider" nzType="vertical" />
    } @else {
      <div class="bpm-toolbar__group">
        @for (btn of seg.buttons; track $index) {
          <button class="bpm-toolbar__btn" type="button" nz-button nz-tooltip nzSize="small" nzType="text" [nzTooltipTitle]="btn.tooltip" (click)="btn.onClick()">
            <nz-icon nzTheme="outline" [nzType]="btn.icon" />
          </button>
        }
      </div>
    }
  }
</div>
