<div class="bpm-toolbar" role="toolbar" aria-label="BPMN 编辑工具栏">
  <input
    #bpmnFileInput
    type="file"
    class="bpm-toolbar__file-input"
    accept=".bpmn,.xml,application/xml,text/xml"
    tabindex="-1"
    aria-hidden="true"
    (change)="onBpmnFileSelected($event)"
  />
  @for (seg of toolbarSegments; track $index) {
    @if (seg.type === 'divider') {
      <nz-divider nzType="vertical" class="bpm-toolbar__divider" />
    } @else {
      <div class="bpm-toolbar__group">
        @for (btn of seg.buttons; track $index) {
          <button
            type="button"
            nz-button
            nzType="text"
            nzSize="small"
            class="bpm-toolbar__btn"
            nz-tooltip
            [nzTooltipTitle]="btn.tooltip"
            (click)="btn.onClick()"
          >
            <nz-icon [nzType]="btn.icon" nzTheme="outline" />
          </button>
        }
      </div>
    }
  }
</div>
