<div class="normal-table-wrap">
  @if (searchFormFields().length > 0) {
    <crud-search-form [fields]="searchFormFields()" [searchModel]="searchModel()" (doSearch)="doSearch($event)"></crud-search-form>
  }
  <app-table-wrap [toolbarActions]="toolbarActions()" (reload)="reloadTable()">
    @if (tableConfig().type === 'tree') {
      <app-tree-table
        [loading]="tableLoading()"
        [tableConfig]="tableConfig()"
        [tableData]="pageData()"
        [total]="pageData().totalCount || 0"
        (pageQueryChange)="pageQuery($event)"
        (rowClick)="onRowClick($event)"
      ></app-tree-table>
    } @else if (tableConfig().type === 'edit' && enableEdit()) {
      <app-edit-table
        [loading]="tableLoading()"
        [tableConfig]="tableConfig()"
        [tableData]="pageData()"
        [total]="pageData().totalCount || 0"
        (pageQueryChange)="pageQuery($event)"
        (rowChange)="rowValueChange($event)"
        (rowClick)="onRowClick($event)"
      ></app-edit-table>
    } @else {
      <app-table
        [loading]="tableLoading()"
        [tableConfig]="tableConfig()"
        [tableData]="pageData()"
        [total]="pageData().totalCount || 0"
        (pageQueryChange)="pageQuery($event)"
        (rowClick)="onRowClick($event)"
      ></app-table>
    }
  </app-table-wrap>
  @if (enableEdit() || enableCreate()) {
    <nz-modal nzxModalDrag [nzTitle]="editTitle()" [nzVisible]="editModalVisible()" [nzWidth]="editModalOptions().width" (nzOnCancel)="dismissEditModal()" (nzOnOk)="saveItem()">
      <div *nzModalContent class="crud-edit-form">
        <crud-edit-form [columns]="editModalOptions().columns || 1" [fields]="editFormFields()" [form]="editForm" [record]="editRecord()"></crud-edit-form>
      </div>
    </nz-modal>
  }
</div>
