package ${packageName}.dao;

import com.kiwi.common.mongo.BaseMongoRepository;
import ${packageName}.entity.${ClassName};
import org.springframework.stereotype.Repository;

@Repository
public interface ${ClassName}Dao extends BaseMongoRepository<${ClassName}, String> {
}
