<div nz-row>
  <div nz-col [nzLg]="24" [nzMd]="24" [nzOrder]="formOrder" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzFor="userName" nzSpan="24">登录账号</nz-form-label>
        <nz-form-control nzSpan="24">
          <input id="userName" formControlName="userName" nz-input placeholder="登录账号" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="nickName" nzSpan="24">昵称</nz-form-label>
        <nz-form-control nzSpan="24">
          <input id="nickName" formControlName="nickName" nz-input maxlength="64" placeholder="昵称" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="email" nzRequired nzSpan="24">邮箱</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="emailErrTpl">
          <input id="email" formControlName="email" nz-input placeholder="邮箱" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="phonenumber" nzSpan="24">手机号</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="combineTpl">
          <input id="phonenumber" formControlName="phonenumber" maxlength="20" nz-input placeholder="手机号" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="sex" nzSpan="24">性别</nz-form-label>
        <nz-form-control nzSpan="24">
          <nz-select id="sex" formControlName="sex" nzPlaceHolder="请选择">
            @for (opt of sexOptions; track opt.value) {
              <nz-option [nzLabel]="opt.label" [nzValue]="opt.value"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="avatar" nzSpan="24">头像地址</nz-form-label>
        <nz-form-control nzSpan="24" nzExtra="填写可访问的图片 URL，或相对 API 根路径的资源路径。">
          <input id="avatar" formControlName="avatar" nz-input placeholder="例如 /upload/avatar.png" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14">
          <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="submitting">更新基本信息</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="avatar" nz-col [ngClass]="{ 'is-full': formOrder === 1 }" [nzLg]="24" [nzMd]="24" [nzOrder]="avatarOrder" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
    @if (formOrder === 0) {
      <div class="m-b-8">头像预览</div>
    }
    <div class="avatar-wrap">
      <nz-avatar class="m-b-8" [nzSize]="144" [nzSrc]="avatarPreviewUrl()"></nz-avatar>
    </div>
  </div>
</div>
<ng-template #combineTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    必填项
  }
</ng-template>
<ng-template #emailErrTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    请输入邮箱
  }
</ng-template>
